@model AnimeOnex.ModelData.Logic.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caminhoDaImagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caminhoDaImagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
