@model AnimeOnex.ModelData.Logic.Comentario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Episodio.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Episodio.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nickname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comentarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
